<!DOCTYPE html>
<html>
<head>
  <title>Veritrans | Agreement Integration Platform</title>
  <link rel="icon" type="image/x-icon" href="<%= request.base_url + '/assets/veritrans.ico' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="vertical-space" style="height:80px;"></div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
          <%= image_tag('veritrans.png', class: 'vt-logo', alt: 'Veritrans') %> | Agreement Integration Platform
        </div>
        <div class="vertical-space" style="height:10px;"></div>
        <h4 class="text-center">Login</h4>

        <%= form_for(:session, url: create_path) do |f| %>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          <div class="form-group">
            <label for="email">Email</label>
            <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, :placeholder => "Password", :class => "form-control"  %>
          </div>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="vertical-space" style="height:80px;"></div>
  </div>
</body>
</html>
