<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="<%= request.base_url + '/merchant/form' %>">Merchant Information Form</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/document' %>">Upload Documents</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/terms' %>">Terms & Conditions</a></li>
	</ul>

	<div class="row">
		<div class="col-md-6">
			<%= form_for :merchant do |f| %>
				<div class="vertical-space" style="height:10px;"></div>
				<h3>General Merchant Info</h3>
			  <div class="form-group">
			    <%= f.label(:name, "Name") %>
			    <%= f.text_field(:name, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:website, "Website") %>
			    <%= f.text_field(:website, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:email, "Email") %>
			    <%= f.text_field(:email, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:city, "City") %>
			    <%= f.text_field(:city, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:address, "Address") %>
			    <%= f.text_field(:address, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:office_status, "Office Status") %>
			    <%= f.select(:office_status, options_for_select([['Milik Sendiri', 1], ['Milik Keluarga', 2], ['Kontrak', 3]], 1), {}, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:type_of_product, "Type of Product") %>
			    <%= f.text_area(:type_of_product, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:price_range, "Price Range") %>
			    <%= f.text_area(:price_range, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:time_since_started, "Time Since Started") %>
			    <%= f.text_area(:time_since_started, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:ownership_type, "Ownership Type") %>
			    <%= f.select(:ownership_type, options_for_select([['Pemilik', 1], ['Perusahaan', 2], ['Partnership', 3]], 1), {}, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:revenues_each_month, "Revenues Per-month") %>
			    <%= f.text_field(:revenues_each_month, class: "form-control") %>
			  </div>
			  <div class="form-group">
			    <%= f.label(:credit_card_payment_ratio, "Credit Card Payment Ratio") %>
			    <%= f.text_field(:credit_card_payment_ratio, class: "form-control") %>
			  </div>

				<div class="col-xs-12 vertical-space" style="height:50px;"></div>
			  <h3>PIC Merchant Info</h3>
			  <%= fields_for :merchant_pic do |p|%>
	  		  <div class="form-group">
				    <%= p.label(:name, "Name") %>
				    <%= p.text_field(:name, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= p.label(:address, "Address") %>
				    <%= p.text_field(:address, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= p.label(:email, "Email") %>
				    <%= p.text_field(:email, class: "form-control") %>
				  </div>
					<div class="form-group">
				    <%= p.label(:emergency, "Emergency Telephone") %>
				    <%= p.text_field(:emergency, class: "form-control") %>
				  </div>
			  <% end %>

				<div class="col-xs-12 vertical-space" style="height:50px;"></div>
			  <h3>Merchant Owner Info</h3>
			  <%= fields_for :merchant_owner do |ow|%>
				  <div class="form-group">
				    <%= ow.label(:name, "Name") %><br>
				    <%= ow.text_field(:name, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= ow.label(:address, "Address") %><br>
				    <%= ow.text_field(:address, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= ow.label(:email, "Email") %><br>
				    <%= ow.text_field(:email, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= ow.label(:telephone, "Telephone") %><br>
				    <%= ow.text_field(:telephone, class: "form-control") %>
				  </div>
			  <% end %>

				<div class="col-xs-12 vertical-space" style="height:50px;"></div>
			  <h3>Merchant Customer Support Info</h3>
			  <%= fields_for :merchant_customer_support do |cs|%>
				  <div class="form-group">
				    <%= cs.label(:email, "Email") %><br>
				    <%= cs.text_field(:email, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= cs.label(:telephone, "Telephone") %><br>
				    <%= cs.text_field(:telephone, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= cs.label(:emergency, "Emergency Telephone") %><br>
				    <%= cs.text_field(:emergency, class: "form-control") %>
				  </div>
			  <% end %>

				<div class="col-xs-12 vertical-space" style="height:50px;"></div>
			  <h3>Merchant Operational</h3>
			  <%= fields_for :merchant_operational do |op|%>
				  <div class="form-group">
				    <%= op.label(:email, "Email") %><br>
				    <%= op.text_field(:email, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= op.label(:telephone, "Telephone") %><br>
				    <%= op.text_field(:telephone, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= op.label(:emergency, "Emergency Telephone") %><br>
				    <%= op.text_field(:emergency, class: "form-control") %>
				  </div>
			  <% end %>

				<div class="col-xs-12 vertical-space" style="height:50px;"></div>
			  <h3>Bank Account Information</h3>
			  <%= fields_for :bank_account do |b|%>
				  <div class="form-group">
				    <%= b.label(:name, "Bank Name") %><br>
				    <%= b.text_field(:name, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= b.label(:acc_number, "Account Number") %><br>
				    <%= b.text_field(:acc_number, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= b.label(:acc_holder, "Account Holder") %><br>
				    <%= b.text_field(:acc_holder, class: "form-control") %>
				  </div>
				  <div class="form-group">
				    <%= b.label(:acc_type, "Account Type") %><br>
				    <%= b.text_field(:acc_type, class: "form-control") %>
				  </div>
			  <% end %>

				<div class="col-xs-12 vertical-space" style="height:25px;"></div>
			  <%= f.submit "Save", :class => "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
