<div class="row">
    <div class="container">
        <div class="col-md-4">
            <h3><%= @channel.channel_type.name %></h3>
            <h5>Current price: <%= @channel.customprice %></h5>
            <%= form_for(:form) do |f| %>
            <div class="form-group">
                <%= f.label(:price, "New Price:") %>
                <%= f.text_field(:price, class: "form-control") %>
            </div>
            <%= f.submit "Change Price", :class => "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>

