<div class="container">
  <h3>New Agreement - Success</h3>

  <div class="row">
    <div class="col-md-4">
      <h4>PKS Number:</h4>
    </div>
    <div class="col-md-4">
      <p><%= @agreement.pks_number %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h4>Merchant's Name:</h4>
    </div>
    <div class="col-md-4">
      <p><%= @merchant.name %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>Website:</h4>
    </div>
    <div class="col-md-4">
      <p><%= @merchant.website %></p>
    </div>
  </div>  
  
  <div class="row">
    <div class="col-md-4">
      <h4>Merchant Contact Email:</h4>
    </div>
    <div class="col-md-4">
      <p><%= @user.email %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h4>Registration link:</h4>
    </div>
    <div class="col-md-4">
      <p><a href="<%= request.base_url + "/merchant/new/" + @merchant.registration_link %>"><%= request.base_url + "/merchant/new/" + @merchant.registration_link %></a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>Additional Message in Notice:</h4>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form_tag ("/merchant/send-mail/" + @merchant.id.to_s) do |f|%>
          <%= text_area_tag :content, nil, class: "form-control" %> <br/>  
      </div>
    </div>
  </div>

  <%= submit_tag "Submit", :class => "btn btn-primary center-block" %>
  <% end -%>
</div>

