<div class="row">
	<div class="container">
		<%= link_to 'List Merchants', '/sales/list_merchant', class: 'btn btn-primary' %><br/>
	</div>	
</div>
<div class="vertical-space" style="height:30px;"></div>
<div class="row">
	<div class="container">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
		  <li><a data-toggle="tab" href="#channels">Channels</a></li>
		  <li><a data-toggle="tab" href="#tnc">Terms and Conditions</a></li>
		</ul>
	</div>
</div>
<div class="tab-content">
	<div id="summary" class="tab-pane fade in active">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Completed Form</h3><br/>
					Name: <%= @merchant.name %> <br/>
					Email: <%= @merchant.email %> <br/>
					Website: <%= @merchant.website %> <br/>
					Address: <%= @merchant.address %> <br/>
					Status: <%= @merchant.office_status %> <br/>
					Type of Business: <%= @merchant.type_of_product %> <br/>
					Price Range: <%= @merchant.price_range %> <br/>
					Ownership: <%= @merchant.ownership_type %> <br/>
					Revenue per Month: <%= @merchant.revenues_each_month %> <br/>
					Total Sales with Credit Card: <%= @merchant.credit_card_payment_ratio %> <br/><br/>
				</div>

				<div class="col-md-4">
					<h3>Submitted Documents</h3><br/>
					<% for item in @required_docs %>
						<% if !item.document_type.is_additional then%>
					    	<%= item.document_type.name %> 
					    	<%= content_tag(:span, nil, {class:'glyphicon glyphicon-ok', 'aria-hidden' => 'true', style: 'color : green'}) if item.file? %>
					    	<br/>
					    <%end%>
					<% end %><br/><br/>
				</div>
			</div>
		</div>
	</div>

	<div id="channels" class="tab-pane fade">
		<div class="container">
			<div class="row">
				<h3>Selected Channels:</h3>
			</div>
			<% for ac in @channels %>
				  <% item = ac.channel_type %>
				  <div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-body">
						  	<div class="row">
						  		<div class="col-md-6">
						  			<%= image_tag('channel-logo/' + item.id.to_s, class: "img-responsive") %>
							    </div>
						  		<div class="col-md-6">
								    <%= item.name %> <br>
				  					<% if !(ac.customprice == nil) then%>
				  						<%= ac.customprice %><br>
				  					<%else%>
				  						<%= item.charge %><br>
				  					<%end%>	
				  					<%= link_to "Change Price", controller: "agreement", action: "change_price", haft: ac.id %>
							    </div>
						    </div>
						  </div>
						</div>
					</div>
			<% end %>
		</div>
	</div>

	<div id="tnc" class="tab-pane fade">
		<div class="container">
			<div class="row">
			<% if @agreement.has_agree %>
					<h3> Download MoU </h3>
					<%= link_to 'Download', '/sales/document/' + @agreement.id.to_s , class: 'btn btn-primary', target: "_blank"%>
			<% else %>
					<h3>Your merchant haven't agreed yet</h3>
			<% end %>
			</div>
		</div>
	</div>
</div>
