<div class="container">
	<ul class="nav nav-wizard">
		<li class="done"><a href="<%= request.base_url + '/merchant/info/general' %>">1. Merchant Information Form</a></li>
		<li class="done"><a href="<%= request.base_url + '/merchant/document' %>">2. Upload Documents</a></li>
		<li class="done"><a href="<%= request.base_url + '/merchant/terms' %>">3. Terms & Conditions</a></li>
		<li><a href="<%= request.base_url + '/merchant/document/download' %>">4. Additional Document</a></li>
    	<li><a href="<%= request.base_url + '/merchant/finish' %>">5. Finish</a></li>
	</ul>

	<div class="vertical-space" style="height:20px;"></div>

	<div class="row">
		<div class="container">
		<h2>Congratulation</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="container">
		<p>You have finished all the required stuff in order to complete and generate MoU.</p><br>
		<p><strong>Don't forget to:</strong><br>
		<ol>
		  <li>Print and sign your MoU</li>
		  <li>Download and fill your additional documents (see in tab "4")</li>
		  <li>Send the signed MoU and filled additional documents to Veritrans Office</li>
		</ol></p>
		<div class="vertical-space" style="height:20px;"></div>
		<strong>PT. Midtrans (Veritrans Indonesia)</strong><br>
		MidPlaza 2, 4th Floor<br>
		Jl. Jend. Sudirman<br>
		Kav. 10-11<br>
		Jakarta 10220<br>
		Indonesia<br>
		p. +62.21.573.6789 <br>
		</div>
	</div>


</div>