<div class="container">
	<h3>Select Channels</h3>
	<%= form_for(:form) do |f| %>
		<div class="row">
				<% for item in @channels %>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-body">
						  	<div class="row">
						  		<div class="col-md-1">
						  			<div>
						  			<%=  f.check_box(item.id.to_s() ) %>
						  			</div>
							    </div>
						  		<div class="col-md-5">
						  			<%= image_tag('channel-logo/' + item.id.to_s, class: "img-responsive center-block") %>
							    </div>
						  		<div class="col-md-6">
								    <%= item.partner %>
								    <br>
								    <%= item.name %>
							    </div>
						    </div>
						  </div>
						</div>
					</div>
				<% end %>
		</div>
		<div><%= f.submit "Select Channels", :class => "center-block btn-primary" %></div>
	<% end %>	
</div>
