<p>Nama Dagang <i>Merchant</i> : <%= "(NamaDagang)" %></p>
<p>Jenis Usaha : <%= "(JenisUsaha)" %></p>

<p>Perjanjian Kerjasama <i>Merchant</i> Internet (untuk selanjutnya disebut &quot;<b>Payment Gateway</b>&quot;, termasuk Lampiran-Lampirannya) ini dibuat dan ditandatangani pada hari <%= "(hari)" %> tanggal <%= "(tanggal)" %> oleh dan antara:</p>

<p>I. <b>PT. Midtrans</b>, berkedudukan di Jakarta Pusat, berkantor pusat di MidPlaza 2, Lantai 24, Jl. Jenderal Sudirman Kav. 10-11, Jakarta 10220, yang didirikan berdasarkan Akta Pendirian No. 07 tanggal 14 Desember 2011 yang dibuat dihadapan Silvia Veronika SH, Notaris di Jakarta, yang telah memperoleh pengesahan badan hukum perseroan dari Menteri Hukum dan Hak Asasi Manusia Republik Indonesia Nomor AHU-01183.AH.01.01.Tahun 2012 tertanggal 09 Januari 2012; dalam hal ini diwakili oleh Budi Gandasoebrata dalam jabatannya selaku Direktur dan karenanya sah mewakili serta berwenang bertindak untuk dan atas nama PT. Midtrans, selanjutnya disebut &quot;<b>Payment Gateway</b>&quot;.</p>

<p>II. <b><%= "(Website)" %></b>, berkedudukan di <b><%= "(kantor)" %></b>, berkantor pusat di <b><%= "(AlamatKantor)" %></b> ,dalam hal ini diwakili oleh <b><%= "(A/N)" %></b> dalam jabatannya selaku <b><%= "(Role)" %></b> dari dan oleh karenanya sah dan berwenang bertindak untuk dan atas nama <b><%= "(Website)" %></b>, yang selanjutnya disebut &quot;<b>Merchant</b>&quot;.</p>

<p><i>Payment Gateway</i> dan <i>Merchant</i> secara bersama-sama selanjutnya akan disebut &quot;<b>Para Pihak</b>&quot; dan sendiri-sendiri disebut &quot;<b>Pihak</b>&quot;.</p>

<p>Dengan menggunakan produk Veritrans, maka anda menyetujui ketentuan berikut:</p>
<p>1 Bahwa <i>Merchant</i> adalah penjual atau penyelenggara penjual yang menawarkan produk barang dan/atau jasa melalui media internet. </p>
<p>2 Bahwa <i>Payment Gateway</i> adalah badan hukum yang berbentuk Perseroan Terbatas yang didirikan berdasarkan hukum Indonesia yang bergerak sebagai penyedia layanan Sistem Pembayaran Internet.</p>
<p>3 Bahwa Para Pihak bersedia untuk menggunakan layanan Sistem Pembayaran Internet yang dikelola oleh <i>Payment Gateway</i> sesuai dengan syarat dan ketentuan di dalam Perjanjian ini.</p>
<p>Berdasarkan hal-hal tersebut di atas, Para Pihak masing-masing dalan kedudukannya tersebut diatas sepakat untuk menandatangani dan mengadakan Perjanjian ini, dengan syarat-syarat dan ketentuan sebagai berikut:</p>

<% @term.points.each do |term_child1| %>
  <p><b><%= "Pasal " + term_child1.nomor %></b></p>
  <p><b><%= term_child1.isi %></b></p>

  <% term_child1.points.each do |term_child2| %>
  	<p><%= term_child2.nomor + " " +  term_child2.isi %></p>
  <% end %>
<% end %>
<p >&nbsp;</p>
<!-- <p>Perjanjian ini disepakati dan ditandatangani Para Pihak dalam keadaan sadar, sehat jasmani dan rohani, serta tidak di bawah tekanan atau paksaan dari pihak manapun; Para Pihak sepakat untuk menaati dan melaksanakan Perjanjian ini dengan itikad baik.</p>

<p>Demikian Perjanjian ini dibuat dalam rangkap 2 (dua) dan ditandatangani oleh Para Pihak di atas meterai secukupnya; masing-masing rangkap memiliki kekuatan hukum yang sama dan berlaku sebagai alat bukti yang sah.</p> -->

<p style='page-break-before:always;'><b>Lampiran 1</b></p>
<p><b>Bank, Service Provider, dan Layanan Pembayaran</b></p>


<p>Daftar Nama Bank, Service Provider, Dan Layanan Pembayaran</p>
<p>Bank/Service Provider dan Layanan Pembayaran yang digunakan di dalam lingkup Perjanjian ini adalah:</p>
<p><b>Bank :</b></p>

<p style='page-break-before:always;'><b>Lampiran 2</b></p>
<p><b>Biaya Transaksi</b></p>

<p style='page-break-before:always;'><b>Lampiran 3</b></p>
<p><b>Tata Cara Pembayaran Biaya Transaksi</b></p>

<p style='page-break-before:always;'><b>Lampiran 4</b></p>
<p><b>Daftar Persyaratan Administrasi Merchant</b></p>

<p style='page-break-before:always;'><b>Lampiran 5</b></p>
<p><b>Korespondensi</b></p>

<p style='page-break-before:always;'><b>Lampiran 6</b></p>
<p><b>Standard Operational Procedure (SOP)</b></p>

<p style='page-break-before:always;'><b>Lampiran 7</b></p>
<p><b><u>FORMULIR PERMOHONAN MERCHANT E-COMMERCE</u></b></p>
 