<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/form' %>">Merchant Information Form</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/document' %>">Upload Documents</a></li>
	  <li role="presentation" class="active"><a href="<%= request.base_url + '/merchant/terms' %>">Terms & Conditions</a></li>
	</ul>

  <h2>Terms &amp; Conditions</h2>

  <p>Dengan menggunakan produk Veritrans, maka anda menyetujui ketentuan berikut:</p>

  <% @term.points.each do |term_child1| %>
    <h3><%= term_child1.isi %></h3>

    <% term_child1.points.each do |term_child2| %>
    	<p><%= term_child2.isi %></p>
    <% end %>
  <% end %>

  <%= form_for :agreement do |f| %>
    <div class="checkbox">
      <label>
        <%= check_box_tag :has_agree %> I agree to the terms & conditions
    </div>

    <p>
      <%= f.submit 'Save Agreement', :class => 'btn btn-primary' %>
     <%= success %>
    </p>
  <% end %>
</div>
