<div class="container">
	<ul class="nav nav-wizard">
    <li><a href="<%= request.base_url + '/merchant/info/general' %>">1. Merchant Information Form</a></li>
    <li><a href="<%= request.base_url + '/merchant/document' %>">2. Upload Documents</a></li>
    <li class="active"><a href="<%= request.base_url + '/merchant/terms' %>">3. Terms & Conditions</a></li>
    <li><a href="<%= request.base_url + '/merchant/document/download' %>" class="<%= 'disabled' if !@has_agreed %>">4. Additional Document</a></li>
    <li><a href="<%= request.base_url + '/merchant/finish' %>" class="<%= 'disabled' if !@has_agreed %>">5. Finish</a></li>
	</ul>

  <div class="vertical-space" style="height:10px;"></div>

  <div class="alert alert-success"><strong>Well done!</strong> Your required documents has been uploaded successfully.<br>Now, you can see the MoU and click agree at the bottom of the page. After that you can download the MoU</div>

  <h2>Terms &amp; Conditions</h2>
  <p>Dengan menggunakan produk Veritrans, maka anda menyetujui ketentuan berikut:</p>
  <div class="panel-group" id="accordion">
  <% a = 1 %>
    <% @term.points.each do |term_child1| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= a.to_s %>" ><%= term_child1.isi %></a>
            </h4>
          </div>
          <div id="collapse<%= a.to_s %>" class="panel-collapse collapse <% if a == 1 then %><%="in"%><% else %><%=%><% end %>">
            <div class="panel-body">

      <% term_child1.points.each do |term_child2| %>
            <p><%= term_child2.isi %></p>
      <% end %>
            </div>
          </div>
        </div>
      <% a += 1 %>
    <% end %>
  </div>

  <div class="vertical-space" style="height:20px;"></div>
  <% if @agreement.has_agree %>
    <%= link_to 'Download', '/doc' , class: 'btn btn-primary', target: "_blank"%>
  <% else %>
    <%= form_for :agreement do |f| %>
      <div class="checkbox">
          <%= check_box_tag :has_agree %> I agree to the terms & conditions
      </div>
      <div class="vertical-space" style="height:20px;"></div>
      <div>
        <%= f.submit 'Save Agreement', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
