<%= form_for(:pass) do |f| %>
	Password: <br/>
	<%= f.password_field :password %> <br/>
	Konfirmasi Password: <br/>
	<%= f.password_field :password_confirmation %> <br/>
	<%= f.submit "Save", :class => "btn" %>
<% end %>

<% if flash[:error] %>
	<div class="notice"><%= flash[:error] %></div>
<% end %>
