test page: <br/>
<a href="<%= request.base_url + '/document' %>">document</a> <br/>
<a href="<%= request.base_url + '/merchant/form' %>">isi form</a> <br/>
<a href="<%= request.base_url + '/merchant/document' %>">document</a> <br/>
<a href="<%= request.base_url + '/merchant/document/download' %>">additional document</a> <br/>
<a href="<%= request.base_url + '/merchant/terms' %>">terms & conditions</a><br/>
