<div class="container">
	<ul class="nav nav-wizard">
		<li class="done"><a href="<%= request.base_url + '/merchant/info/general' %>">1. Merchant Information Form</a></li>
		<li class="done"><a href="<%= request.base_url + '/merchant/document' %>">2. Upload Documents</a></li>
		<li class="done"><a href="<%= request.base_url + '/merchant/terms' %>">3. Terms & Conditions</a></li>
		<li><a href="<%= request.base_url + '/merchant/document/download' %>">4. Additional Document</a></li>
    	<li><a href="<%= request.base_url + '/merchant/finish' %>">5. Finish</a></li>
	</ul>

	<div class="vertical-space" style="height:20px;"></div>
	<div class="alert alert-success"><strong>Well done!</strong> Please download and fill the additional documents in order to complete your request for your selected channels.</div>

	<h3>Additional Documents Channel </h3>
	<div class="vertical-space" style="height:20px;"></div>
	<% @documents.each do |t| %>
		<div class="row">
			<div class="col-md-4">
				<h4> <%= t[:doc].name %></h4>
			</div>
			<div class="col-md-4">
				<%= link_to "Download", t[:link], :id => "button_id", :class => "button_class", :class => "btn btn-primary" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<p>Needs on channels:
					<% t[:doc].channels.each do |channel| %>
		            <%= channel.name %>
		          <% end %>
				</p>
			</div>
		</div>
		<div class="vertical-space" style="height:20px;"></div>


	    <!-- <a href= <%= %> >button</a> -->

	    <!-- Needs on channels:
	        <% t[:doc].channels.each do |channel| %>
	            <%= channel.name %>
	          <% end %>
	      <br> -->

	<% end %>

</div>
