<div class="container">
	<ul class="nav nav-tabs">
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/form' %>">Merchant Information Form</a></li>
	  <li role="presentation" class="active"><a href="<%= request.base_url + '/merchant/document' %>">Upload Documents</a></li>
	  <li role="presentation"><a href="<%= request.base_url + '/merchant/terms' %>">Terms & Conditions</a></li>
	</ul>

  <% @merchant_documents.each do |d| %>
    <%= form_for :document do |f| %>
      <div class="col-xs-12 vertical-space" style="height:50px;"></div>
      <div class="form-group">
        <%= f.label(:document, d.document_type.name) %>
        <% if d.path %>
          <div class="row">
            <div class="col-md-6">
              <p><%= image_tag(d.path, class: "img-responsive") %></p>
            </div>
          </div>
        <% else %>
          <p>Belum ada file yang diupload</p>
        <% end %>
        <p id="label_<%= d.id.to_s%>"></p>
        <%= f.label(d.id.to_s, "Choose File", class: "btn btn-default") %>
        <%= f.file_field(d.id.to_s, {style: "display:none;", onchange: "$('#label_#{d.id.to_s}').html($(this).val());"}) %>

        <%= f.submit 'Upload', :class => 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>
