<div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Well done!</strong> <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="row">
    <%= link_to 'Create New agreement', 'agreement/new', class: 'btn btn-primary' %>
    <h1>Current Merchant</h1>

    <% @sales_merchants.each do |merchant| %>
    <div class="panel panel-default">
      <div class="container">
        <h4><%= merchant.name %></h4><h5>Integration since <%= merchant.created_at.strftime('%b %d, %Y') %></h5>
      </div>
      <!--<%= (Time.current.to_date - merchant.created_at.to_date).to_i %>-->
      <div class="panel-body">
        <%= check_box_tag :info_is_completed, '1', merchant.info_is_completed,  onclick: 'return false' %>
        <%= label_tag :info_is_completed, 'information' %> <br/>

        <%= check_box_tag :documents_is_completed, '1', merchant.documents_is_completed,  onclick: 'return false' %>
        <%= label_tag :documents_is_completed, 'documents' %> <br/>

        <% merchant.agreements.each do |agreement| %>
          <%= check_box_tag :has_agree,'1', agreement.has_agree,  onclick: 'return false' %>
          <%= label_tag :has_agree, 'terms & conditions' %> <br/>
        <% end %>

        <div class="vertical-space" style="height:15px;"></div>
        <%= link_to 'Details', '/merchant/details/' + merchant.id.to_s , class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
